/* Esercizio 1 */
.ex-1-square{
    transition: 2s;
}
.ex-1-square:hover{
    background-color: red;
}
/* Esercizio 2 */
.ex-2-square {
    transition: 2s;
}
.ex-2-square:active {
    width: 100%;
}
/* Esercizio 3 */
.ex-3-square{
    transition:1s;
    transition-timing-function: ease-out;
}
.ex-3-square:hover{
    border-radius: 5rem;
}
/* Esercizio 4 */
.ex-4-square{
    transition:1s;
    transition-timing-function: ease-out;
}
.ex-4-square:hover{
    opacity:0;
}
/* Esercizio 5 */
.ex-5-square{
    transition:1s;
}
.ex-5-square:hover{
    transform: scale(2);
}
.ex-5-square:active{
    transform: scale(0.5);
}
/* Esercizio 6 */
.ex-6-img{
    transition:0s;
}
.ex-6-img:hover{
    filter: grayscale(2);
}
/* Esercizio 7 */
.ex-7-img{
    transition:1s;
    transition-timing-function: ease-out;
}
.ex-7-img:hover{
    filter: sepia(1) blur(2px);
}
/* Esercizio 8 */
.ex-8-img{
    transition:1s;
    transition-timing-function: ease-in;
}
.ex-8-img:hover{
    filter: sepia(0.5) grayscale(0.5);
    border-radius: 2rem;
}
/* Esercizio 9 */
.ex-9-img{
    transition:2s;
}
.ex-9-img:hover{
    filter: sepia(0.5) grayscale(0.5);
    border-radius: 1rem;
    transform: scale(1.5);
}
/* Esercizio 10 */
.ex-10-icon{
    animation-name: rotation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count :infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(1turn);
    }  
}
/* Esercizio 11 */
.ex-11-icon:hover{
    animation-name: mini-rotation;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@keyframes mini-rotation {
    0% {
        transform: rotate(0);
    }  
    80% {
        transform: rotate(0.75turn);
    }  
    90% {
        transform: rotate(0.75turn);
    } 
    0% {
        transform: rotate(0);
    }  
}
/* Esercizio 12 */
.ex-12-button:hover .ex-12-top-white{
    animation-name: line;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@keyframes line {
    0% {
        top:-10px;
        left:10px;
    }  
    40% {
        top:-10px;
        left:60%;
    }  
    80% {
        top:-10px;
        left:100px; 
    } 
    
}
.ex-12-button:hover .ex-12-bottom-white{
    animation-name: bottom-line;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@keyframes bottom-line {
    0% {
        bottom:-10px;
        right:20%;
    }  
   
    40% {
        bottom:-10px;
        right:61%;   
    } 
    80% {
        bottom:-10px;
        right:100px;   
    } 
}
/* Esercizio 13 */
.ex-13-button:hover .ex-13-top-white{
    animation-name: long-line;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count :infinite;
}
@keyframes long-line {
    0% {
        top:-10px;
        left:10%;
    }  
  
    30% {
        top:-10px;
        left:91%; 
    } 
   
    50% {
        top: 62px;
        left:91%; 
    } 
    70% {
        top:62px;
        left:-8%; 
    } 
    90% {
        top:-19px;
        left:-8%; 
    }  
    100% {
        top:-10px;
        left:10%; 
    }    
}
.ex-13-button:hover .ex-13-bottom-white{
    animation-name: bottom-long-line;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count :infinite;
}
@keyframes bottom-long-line {
    0% {
        bottom:-10px;
        right:20%;
    }  

    30% {
        bottom:-10px;
        right:78%;
    }  

    50% {
        bottom:63px;
        right:78%;   
    }   
  
    70% {
        bottom:63px;
        right:-26%;   
    } 
    90% {
        bottom:-13px;
        right:-26%;   
    } 
    
    100%{
        bottom:-10px;
        right:20%;
    }
}


